<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./assets/styles/style.css">
    <title>Dashboard</title>
</head>

<body class="bg-sky-100">
    <div class="w-full h-full flex p-2">
        <div class="border-2 bg-white p-2 mr-2 w-60 text-white h-[98vh] rounded-xl drop-shadow-2xl">
            <div class="text-slate-700 text-center text-2xl font-bold my-2">OPERATOR</div>
            <div class="text-slate-700 px-2 cursor-pointer drop-shadow-xl hover:font-semibold">Dashboard</div>
            <div class="text-slate-700 px-2 cursor-pointer drop-shadow-xl hover:font-semibold">Promo</div>
            <div class="text-slate-700 px-2 cursor-pointer drop-shadow-xl hover:font-semibold">Tambah Tempat</div>
            <div class="text-slate-700 px-2 cursor-pointer drop-shadow-xl hover:font-semibold">Logout</div>
        </div>
        <div class="w-full h-full drop-shadow-2xl rounded-xl">
            <div class="flex">
                <div class="w-full h-[98vh] text-center">
                    <h2 class="font-bold text-2xl">Tentang Pengunjung</h2>
                    <div class="m-4 flex justify-center">
                        <div
                            class="rounded-2xl mx-2 w-52 h-28 bg-white drop-shadow-xl grid place-items-center">
                            <div>
                                <h2 class="text-slate-700">BULAN</h2>
                                <h2 class="text-slate-700 font-semibold">2.000</h2>
                            </div>
                        </div>
                        <div
                            class="rounded-2xl mx-2 w-52 h-28 bg-white drop-shadow-xl grid place-items-center">
                            <div>
                                <h2 class="text-slate-700">TOTAL</h2>
                                <h2 class="text-slate-700 font-semibold">20.000</h2>
                            </div>
                        </div>
                        <div
                            class="rounded-2xl mx-2 w-52 h-28 bg-white drop-shadow-xl grid place-items-center">
                            <div>
                                <h2 class="text-slate-700">RATING</h2>
                                <h2 class="text-slate-700 font-semibold">5.0</h2>
                            </div>
                        </div>
                    </div>
                    <div class="p-4">
                        <div class="bg-white drop-shadow-2xl w-full h-80 rounded-xl"></div>
                    </div>
                    <h2 class="font-bold text-2xl">Tentang Wisata</h2>
                    <div class="p-4 text-justify">
                        <div class="bg-white drop-shadow-2xl w-full h-80 rounded-xl p-4 overflow-auto">
                            <div class="h-14 flex place-items-center rounded-2xl my-2 p-2 bg-gray-100">
                                <div class="font-semibold w-full">Tanjung Karang</div>
                                <div class="flex w-60">
                                    <div class="font-semibold mr-4">4.5</div>
                                    <div class="flex drop-shadow-2xl">
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-green-500 bg-green-300">View</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-sky-500 bg-sky-300">Edit</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-red-500 bg-red-300">Delete</div>
                                    </div>
                                </div>
                            </div>
                            <div class="h-14 flex place-items-center rounded-2xl my-2 p-2 bg-gray-100">
                                <div class="font-semibold w-full">Tanjung Karang</div>
                                <div class="flex w-60">
                                    <div class="font-semibold mr-4">4.5</div>
                                    <div class="flex drop-shadow-2xl">
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-green-500 bg-green-300">View</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-sky-500 bg-sky-300">Edit</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-red-500 bg-red-300">Delete</div>
                                    </div>
                                </div>
                            </div>
                            <div class="h-14 flex place-items-center rounded-2xl my-2 p-2 bg-gray-100">
                                <div class="font-semibold w-full">Tanjung Karang</div>
                                <div class="flex w-60">
                                    <div class="font-semibold mr-4">4.5</div>
                                    <div class="flex drop-shadow-2xl">
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-green-500 bg-green-300">View</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-sky-500 bg-sky-300">Edit</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-red-500 bg-red-300">Delete</div>
                                    </div>
                                </div>
                            </div>
                            <div class="h-14 flex place-items-center rounded-2xl my-2 p-2 bg-gray-100">
                                <div class="font-semibold w-full">Tanjung Karang</div>
                                <div class="flex w-60">
                                    <div class="font-semibold mr-4">4.5</div>
                                    <div class="flex drop-shadow-2xl">
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-green-500 bg-green-300">View</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-sky-500 bg-sky-300">Edit</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-red-500 bg-red-300">Delete</div>
                                    </div>
                                </div>
                            </div>
                            <div class="h-14 flex place-items-center rounded-2xl my-2 p-2 bg-gray-100">
                                <div class="font-semibold w-full">Tanjung Karang</div>
                                <div class="flex w-60">
                                    <div class="font-semibold mr-4">4.5</div>
                                    <div class="flex drop-shadow-2xl">
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-green-500 bg-green-300">View</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-sky-500 bg-sky-300">Edit</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-red-500 bg-red-300">Delete</div>
                                    </div>
                                </div>
                            </div>
                            <div class="h-14 flex place-items-center rounded-2xl my-2 p-2 bg-gray-100">
                                <div class="font-semibold w-full">Tanjung Karang</div>
                                <div class="flex w-60">
                                    <div class="font-semibold mr-4">4.5</div>
                                    <div class="flex drop-shadow-2xl">
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-green-500 bg-green-300">View</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-sky-500 bg-sky-300">Edit</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-red-500 bg-red-300">Delete</div>
                                    </div>
                                </div>
                            </div>
                            <div class="h-14 flex place-items-center rounded-2xl my-2 p-2 bg-gray-100">
                                <div class="font-semibold w-full">Tanjung Karang</div>
                                <div class="flex w-60">
                                    <div class="font-semibold mr-4">4.5</div>
                                    <div class="flex drop-shadow-2xl">
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-green-500 bg-green-300">View</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-sky-500 bg-sky-300">Edit</div>
                                        <div class="mx-1 font-semibold hover:font-white cursor-pointer rounded-2xl hover:text-white border-2 px-2 hover:bg-red-500 bg-red-300">Delete</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>