<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./assets/styles/style.css">
    <title>Sulawesi Tengah</title>
</head>

<body>
    <div class="flex justify-center">
        <div class="sm:container p-2">
            <div class="w-full">
                <header class="sticky top-0 z-50 bg-white">
                    <div class="h-20 mb-6 flex border-b-[2px]">
                        <div class="h-full w-1/3 grid content-center">
                            <div class="flex">
                                <img class="w-8" src="./public/hotel.png" alt="">
                                <h2 class="ml-2 text-xl font-bold">Logo</h2>
                            </div>
                        </div>
                        <div class="h-full w-full grid content-center text-center px-20 xl:px-40">
                            <div class="flex">
                                <div class="cursor-pointer hover:font-bold text-xl basis-1/3">Home</div>
                                <div class="cursor-pointer hover:font-bold text-xl basis-1/3">Paket</div>
                                <div class="cursor-pointer hover:font-bold text-xl basis-1/3">About</div>
                            </div>
                        </div>
                        <div class="h-full w-1/3 grid content-center">
                            <div class="place-self-center bg-gray-400 w-10 h-10 rounded-full"></div>
                        </div>
                    </div>
                </header>
                <h1 class="text-4xl font-bold">JELAJAHI SULAWESI TENGAH</h1>
                <div class="bg-red-300 w-full h-80 xl:h-[35rem] lg:h-[30rem] mt-4 flex">
                    <div class="bg-yellow-300 w-full h-full border-2">
                        <img class="h-full w-full" src="./public/abc.jpg" alt="">
                    </div>
                    <div class="bg-green-300 w-[25rem] lg:w-[40rem] md:w-[30rem] h-full sm:block hidden">
                        <div class="bg-gray-200 h-1/2 border-2">
                            <img class="h-full w-full" src="./public/abc.jpg" alt="">
                        </div>
                        <div class="bg-sky-200 h-1/2 border-2">
                            <img class="h-full w-full" src="./public/abc.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="md:w-2/3 w-full">
                    <h1 class="text-3xl font-bold py-2">Tentang Sulawesi Tengah</h1>
                    <p class="text-justify">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam necessitatibus iusto omnis
                        laudantium iste provident dolores molestias inventore quam labore, amet dignissimos repellendus
                        deserunt, expedita, qui dolor dolorum ratione veritatis.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, repellat eligendi necessitatibus
                        voluptates quisquam cum. Necessitatibus ipsum officiis beatae, dolore, quo adipisci tenetur
                        dolorum, possimus modi hic non architecto minus.
                    </p>
                </div>
                <h1 class="text-3xl font-bold py-2">Destinasi</h1>
                <div
                    class="grid md:grid-cols-3 md:gap-3 grid-cols-2 gap-2 lg:grid-cols-4 lg:gap-4 xl:grid-cols-5 xl:gap-5">
                    <div class="border-4 bg-black border-gray-600 rounded-md p-1 relative text-center">
                        <img src="./public/abc.jpg" alt="">
                        <h4 class="absolute text-3xl text-white font-bold bottom-2 w-full">Donggala</h4>
                    </div>
                    <div class="border-4 bg-black border-gray-600 rounded-md p-1 relative text-center">
                        <img src="./public/abc.jpg" alt="">
                        <h4 class="absolute text-3xl text-white font-bold bottom-2 w-full">Morowali</h4>
                    </div>
                    <div class="border-4 bg-black border-gray-600 rounded-md p-1 relative text-center">
                        <img src="./public/abc.jpg" alt="">
                        <h4 class="absolute text-3xl text-white font-bold bottom-2 w-full">Palu</h4>
                    </div>
                    <div class="border-4 bg-black border-gray-600 rounded-md p-1 relative text-center">
                        <img src="./public/abc.jpg" alt="">
                        <h4 class="absolute text-3xl text-white font-bold bottom-2 w-full">Sigi</h4>
                    </div>
                    <div class="border-4 bg-black border-gray-600 rounded-md p-1 relative text-center">
                        <img src="./public/abc.jpg" alt="">
                        <h4 class="absolute text-3xl text-white font-bold bottom-2 w-full">Poso</h4>
                    </div>
                </div>
                <footer class="h-20 bg-sky-300 mt-6"></footer>
            </div>
        </div>
    </div>
</body>

</html>