<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./assets/styles/style.css">
    <title>Travel</title>
</head>

<body>
    <div class="flex justify-center">
        <div class="w-full mx-10">
            <header class="sticky top-0 z-50 bg-white">
                <div class="h-20 mb-6 flex border-b-[2px]">
                    <div class="h-full w-1/3 grid content-center">
                        <a href="index.html">
                            <div class="flex">
                                <img class="w-8" src="./public/hotel.png" alt="logo">
                                <h2 class="ml-2 text-xl font-bold">Logo</h2>
                            </div>
                        </a>
                    </div>
                    <div class="h-full w-full grid content-center text-center px-20 xl:px-40">
                        <div class="flex">
                            <div class="cursor-pointer hover:font-bold text-xl basis-1/3">Home</div>
                            <div class="cursor-pointer hover:font-bold text-xl basis-1/3">Paket</div>
                            <div class="cursor-pointer hover:font-bold text-xl basis-1/3">Tentang</div>
                        </div>
                    </div>
                    <div class="h-full w-1/3 grid content-center">
                        <div class="place-self-center overflow-hidden bg-gray-400 w-10 h-10 rounded-full">
                            <img src="./public/user.png" alt="">
                        </div>
                    </div>
                </div>
            </header>
            <div class="bg-red-300 w-full lg:h-[30rem] h-80 relative">
                <img class="w-full h-full" src="./public/abc.jpg" alt="">
                <div class="absolute lg:top-20 top-0 w-full">
                    <div class="box-border h-80 flex justify-center p-10 rounded-md">
                        <div class="box-content py-6 px-30 transparant w-[35rem] text rounded-md">
                            <div class="pb-2 text-gray-200 text-center font-semibold text-[1.3rem]">
                                Selamat Datang Di Website Travel
                                Destinasi Sulawesi Tengah Dengan
                                Fasilitas Menarik Yang Membuat Kesan
                                Indah Selama Liburan Anda.
                            </div>
                            <div class="grid place-content-center pt-7 ">
                                <div class="mx-auto ">
                                    <a href="explore.html"
                                        class="rounded-md p-2 bg-gradient-to-r from-cyan-500 to-blue-500 font-bold text-gray-300 hover:text-white">CARI
                                        LOKASI</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-20 w-full md:w-auto">
                <div class="text-center font-semibold text-[2rem]">
                    Mengapa Anda Harus Memilih Kami Sebagai Penyedia Layanan Pejalanan Anda?
                </div>
            </div>
            <div class="flex justify-center pb-20 items-center">
                <div class="sm:flex justify-center items-center">
                    <div class="relative m-2">
                        <img src="https://cdn.idntimes.com/content-images/community/2018/09/b92151b974e12bd42200ffb51df142c6.jpg"
                            alt="Gambar 1" class="w-64 h-64 object-cover rounded-md">
                        <div
                            class="absolute top-30 left-0 right-0 bottom-0 flex justify-center items-center bg-black opacity-50">
                            <span class="text-white text-center text-2xl font-bold">
                                Memberi informasi sedetail mungkin terkait destinasi yang dikunjungi
                            </span>
                        </div>
                    </div>
                    <div class="relative m-2">
                        <img src="https://f95zoneusa.com/wp-content/uploads/2021/12/AMG5.png" alt="Gambar 2"
                            class="w-64 h-64 object-cover rounded-md">
                        <div
                            class="absolute top-30 left-0 right-0 bottom-0 flex justify-center items-center bg-black opacity-50">
                            <span class="text-white text-center text-2xl font-bold">
                                Menyediakan fasilitas jemput dari bandara sampai ke lokasi destinasi wisata
                            </span>
                        </div>
                    </div>
                    <div class="relative m-2">
                        <img src="https://whereshouldigo.org/wp-content/uploads/2017/12/Cheap-travel-paper-on-a-table.jpg"
                            alt="Gambar 3" class="w-64 h-64 object-cover rounded-md">
                        <div
                            class="absolute top-30 left-0 right-0 bottom-0 flex justify-center items-center bg-black opacity-50">
                            <span class="text-white text-center text-2xl font-bold">
                                Menyediakan pilihan paket perjalanan yang menarik
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="h-20 bg-sky-300 mt-6">
                <div class="text-center pt-6">
                    © 2022 Travel. All Rights Reserved.
                </div>
            </footer>
        </div>
</body>

</html>